<h1>Editing Technology</h1>

<%= render 'form', technology: @technology %>

<%= link_to 'Show', @technology , class: 'btn btn-info'%> |
<%= link_to 'Back', technologies_path , class: 'btn btn-info'%>
